.container {
	width: 400px;
}

.dial {
	height: 400px;
	width: 400px;
}

.timer {
	position: relative;
	display: inline-block;
}

* {
	font: inherit;
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
		"Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
	margin: 0 auto;
}

.timer-input {
	text-align: center;
}

h1 {
	font-size: 1.5rem;
}

#initial-duration {
	display: block;
	margin: 0 auto;
	width: 50%;
	border: 1px #f9423a solid;
	padding: 0.5rem 0.5rem;
	font-size: 2rem;
	text-align: center;
}

#set-btn {
	margin-top: 1rem;
	border: 1px solid black;
	border-radius: 5px;
	background: black;
	color: #fff;
	padding: 0.5rem 2rem;
}

.timer input {
	display: block;
	border: none;
	width: 240px;
	font-size: 90px;
	text-align: center;
}

.timer button {
	border: none;
	font-size: 36px;
	cursor: pointer;
	background: none;
}

.timer button:focus {
	outline: none;
}

.timer input:focus {
	outline: none;
}

.timer input:disabled {
	background: none;
	color: #000;
}

.controls {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
